:root {
    --primary-color: #002744;
    --primary: #c6e1e4;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #03587f;
    --fif-color: #af8050;
}


#about {
  
    color: var(--secondary-color);
    transform: translateY(20vh);
    background-color: var(--primary-color);
    margin-top: 12vh;
    position: relative;
    max-height: 100vh;
}
#about h2{
    transform: translateY(-10vh);
}

#about > .container{
    overflow: hidden;
    height: 60vh;
    
    
    
}

#slider {
    width: 100%; 
    padding-bottom: 50%;
    position: relative;
    overflow: visible;
    display: block;
}



.up, .down {
    height: 50vh;
    display: flex;
    justify-content: center;
    padding: 0!important;
}

.up  img, .down img{
    height: 50vh;
    width: auto
}



