:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


#about {
    background-color: var(--primary-color);
    background-image: linear-gradient(169deg, var(--primary-color) 9%, #0a1420 27%, #112033 51%, #0a1420 76%, var(--primary-color) 93%);
    padding-top: 10vh;
  
 
    z-index: 1;

}




#about .container{

    min-height: 60vh;
    color: var(--primary)
    
}



#about 
h4 {
    opacity: .5;
    position: absolute;
    z-index: 0;
    margin-top:-7vh;
    margin-left: 15vh;
    color: #444;
    font-size: 14vh;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    text-shadow: -10px 0 var(--fth-color), 10px 0 var(--third-color);
}

#about h3 {
    font-size: 4vh;
    color: var(--fth-color);
}

#about h3:before {
    width: 5vw;
    transform: translateY(-1vh);
    border-top: .1rem solid var(--fth-color)
}