:root {
    --primary-color: #002744;
    --primary: #c6e1e4;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #03587f;
    --fif-color: #af8050;
}


#about {
    background-color: #002744;
    background-image: linear-gradient(169deg, #002744 9%, #002744 27%, #03587f 51%, #002744 76%, #002744 93%);
 
    max-height: 100vh;
    z-index: 1;
}


#about > .container{
    overflow: hidden;
    height: 60vh;
    
    
    
}

#slider {
    width: 100%; 
    padding-bottom: 50%;
    position: relative;
    overflow: visible;
    display: block;
}


#about1 .sp-thumbnail {
    text-align: center;
}

#about1 .sp-mask {
    overflow: inherit;
}

.slider-pro {
    overflow: hidden;
}

#about1 .sp-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 39, 68, 0.7);
    color: var(--secondary-color);
    margin: 2vh
}

#about1 p, #about1 h3 {
    position: static;

}


#about1 .sp-thumbnail-title {
  
    text-transform: uppercase;
}

.sp-image, .sp-mask, .sp-image-container {
    height: 50vh!important;
 
}

.sp-selected-thumbnail::after{
  
    border-bottom: transparent!important;
}


