:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


#clients {
 
    text-align: center;
    height: auto;
    padding: 0;
  
}

#clients .parallax-container {
    height: 100vh;
}

#clients h4 {
    margin-top: 10vh;
}
#clients .container{
    transform: translateY(0);
}


#clients p {
    color: var (var(--secondary-color))
}

#clients .row {
    
    box-shadow: inset 100vh 100vw rgba(255, 255, 255, 0.7);
    color: var(--primary-color);
    padding: 5vh 0;
}