:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


#clients {
 
    text-align: center;

    padding: 0;
  
}

#clients .parallax-container {
    min-height: 100vh;
    height: auto;
}


#clients .container{
    transform: translateY(0);
}


#clients .container p {
    color: var(--primary-color)
}

#clients .row {
    
    box-shadow: inset 100vh 100vw rgba(255, 255, 255, .5);
    color: var(--primary-color);
    padding: 5vh 0;
}

#clients .col {
   
    height: 20vh;
   
   text-align: center;
   display: flex;
   align-items: center;
    
   
}

#clients span{
    text-align: center;
    width: 100%;
}
#clients .col img{
    
    width: 25vh;
  

}

