:root {
    --primary-color: #002744;
    --primary: #c6e1e4;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #03587f;
    --fif-color: #af8050;
}


#contact {
    text-align: center;
    padding-left: 0;
    transform: translateY(20vh);
    margin-top: 12vh;
    
    

}
#contact > .container{
    overflow: hidden;
    min-height: 90vh;
    padding: 2vh 0;
    
    
    
    
}

#contact > div > div {
    background-color: var(--primary-color);
    opacity: .6;
    margin-top: 1rem;
    padding: 1.5rem;
    border: 3px solid var(--fth-color);
    outline: 2px solid var(--primary-color);
}

#contact > div > div:hover{
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

label.active, i.active {
    background-color: transparent;
    color: var(--secondary-color)!important;
}

.validate{
    color: var(--secondary-color)!important;
    border: 1px solid var(--fif-color)

}