:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


#contact {
    text-align: center;
    padding-left: 0;
    transform: translateY(20vh);
    margin-top: 12vh;
    
    

}
#contact .parallax-container {
    height: 100vh;
}

#contact > div > div {
    background-color: var(--primary-color);
    opacity: .6;
    margin-top: 1rem;
    padding: 1.5rem;
    border: 3px solid var(--fth-color);
    outline: 2px solid var(--primary-color);
}

#contact > div > div:hover{
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

label.active, i.active {
    background-color: transparent;
    color: var(--secondary-color)!important;
}

.validate{
    color: var(--secondary-color)!important;
    border: 1px solid var(--fif-color)

}