:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}

#gallery {

   padding-top: 0;
   background-color: transparent;
}

#gallery h2{
    transform: translateY(-10vw);
    -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
transition: all 1.5s ease;
}

#gallery .col  {
    padding: 0;
    
}

#gallery .row {
    margin: 0;
    
}

#gallery .col > .waves-effect {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {

   width: 100vw;
}

.carousel > .active {
    margin-left: -35.5px;
}
#gallery img{
    filter: sepia(100%);
    width: 80vh;
} 

.carousel-item{
   
 
    width: 56vh!important;
    
 
}

#gallery img:hover{
    filter: sepia(0);
    
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}

#gallery p{
   text-align: center;
}

#gallery .col-content {
    margin: 2vh
}





