:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}

#home {
    padding: 0;
}
#home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    flex-direction: column;
}

#home .parallax-container {
    height: 100vh;
    box-shadow: none;
}

#home .parallax img {
    min-height: auto;
    width: 200vw;
    bottom: 1vh
}

#home h6{
    margin-top: 40vh;
}




