:root {
  --primary-color: #0b1521;
  --primary: #c6bc9b;
  --secondary-color:#EAEAE6;
  --third-color: #d5672c;
  --fth-color: #f3d577;
  --fif-color:#4d5f81;
}


#jobs > .row > .col {
    padding: 0;
}
#jobs > div > div> div> img{
    width: 100%;
}


#macy-container::before { content: ""; display: table; clear: both;}
#macy-container { margin: 4vh 10vw}
#macy-container::after { content: ""; display: table; clear: both;}

.demo {
  margin-bottom: 24px;
  filter: sepia(100%);
  overflow: hidden;

  
}

.demo:hover{
  filter: sepia(0);
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}


.demo-image {
  width: 100%;
  display: block;
  height: auto;
}


