:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


nav{
    position: fixed;
    top: 0;
    cursor: pointer;
    transition: top 0.3s;
    z-index: 100;
    background-color: transparent;
    box-shadow: unset;
    display: flex;
    flex-direction: column;
   

}



.nav-wrapper{
    
    display: flex;
flex-direction: column;
}
.dark .active, .dark > ul > li >a:hover,
.dark2 .active, .dark2 > ul > li >a:hover{
    color: var(--primary-color)!important;
    border-left: 5px solid var(--primary-color)!important;
    font-weight: 600;
 
}
nav ul {

    transition: background-color 200ms linear;
   
    opacity: .7;
    padding-top: 0;
 
  }
nav ul:hover{
    opacity: 1;
}

.sidenav {
    background-color: var(--primary-color);
   
}
.sidenav li a{
    color: var(--secondary-color);
}

.scrolled {
    background-color: rgba(0, 39, 68, 0.7);
}
.nav-wrapper .active, .nav-wrapper > ul > li >a:hover {
    border-left: 5px solid var(--secondary-color);
    font-weight: 600;
    color: var(--primary);
}
.nav-wrapper > ul > li >a{
    font-size: .7rem;
    padding: .5rem 1.5rem;
    letter-spacing: .1rem;
}
nav ul {
    margin: auto
}

li{
    line-height: 2;
    
}

