:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}


@media only screen and (min-width: 600px) {
    


    #about .container {
        max-width: 80vw;
        margin-left: 10vh;
    }

    #services > .container {
       margin: 4vh 0;
  
    }
    #services > .container >.row {    
        flex-direction: row;
    }

    .services_img{
        width: 40vw;
        height: 100vh;
    }
    .services_img > img{
    
        filter: sepia(100%);
        height: max-content;
    }
    #services > .container:nth-child(odd) > div> div >h2 {
   
        margin-left: -10vw;
       
    }
}
@media only screen and (min-width: 780px){
    nav .brand-logo{
        margin: 2vh;

    }

    .nav-wrapper{
        margin-top: 75vh;
    }
    .nav-wrapper > ul > li >a{
        /* border-bottom: 3px solid var(--third-color); */
        margin: 1vh 0 1vh 2vh;
        color: var(--fth-color);
        
    }

    #home .parallax img {
        width: 60vw;
        height: auto;
        bottom: -12vh!important;
    }

    #home .parallax {
        width: 80vw;
        height: auto;
        margin: auto;
    }
   
    
    h5{
        top: 30vh;
        margin: 0 30vw 0 20vw;
    }

    h2{
        writing-mode: vertical-rl;
        position: absolute;
        right: 0;
    }

  
    #about .row {
        
 
        margin-left: 9vh;

    }

    #services .container {
      max-width: 100vw;
        margin: 0;
        padding-top: 0;
    }
    #services .row {
        width: 100vw;
    }

    #services .services_img{
        height: 100vh;
        width: 50%;
    }
    #services .services_text{
        margin-top: 10vh;
        border-bottom: 0;
        padding: 0 10vh;
    }
    #services .container:nth-child(even) .services_text{
        transform: translateX(-45vw);
        
    }
    #services .container:nth-child(even) .services_img{
        transform: translateX(50vw);
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
        clip-path: polygon(48% 0, 100% 0, 100% 100%, 0% 100%);
   
    }
    #services .container:nth-child(odd) .services_img{
        
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
        clip-path: polygon(0 0, 42% 0, 100% 100%, 0% 100%);
   
    }
  
    
  
    #gallery {
        transform: translateY(10vh);
    }
    #gallery .col {
       margin: 2vh
    }
    #gallery .row {
        margin-left: 13vw;
        height: 60vh;
        overflow: hidden;
    }


 

}

/* OFFFFFFFFFFFFF */

@media only screen and (max-width: 720px){
 

    .m{
        display: none;
    }
}