:root {
    --primary-color: #002744;
    --primary: #c6e1e4;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #03587f;
    --fif-color: #af8050;
}


@media only screen and (min-width: 600px) {
    
   

    #about .container {
        max-width: 60vw;
        margin-left: 10vh;
    }

    #about .row {
        max-width: 45vw;
        background-color: var(--fif-color);
        margin-left: 9vh;

    }
 
    .up, .down {
        width: 20vw;
        height: 60vh;
        transform: translateX(20px);
        
      
    
    }
    .up>div{
        transform: translateX(-10vh) translateY(-10vh);
        display: flex;
        width: 50vh;
        justify-content: center;
        overflow:clip;
    


    }
    .down>div{
        transform: translateY(20vh);
        display: flex;
        width: 50vh;
        justify-content: center;
        overflow:clip;
       
    }
    #services > .container {
       margin: 4vh 0;
  
    }
    #services > .container >.row {    
        flex-direction: row;
    }

    .services_img{
        width: 40vw;
        height: 60vh;
    }
    .services_img > img{
        width: 40vw;
        filter: sepia(100%);
        height: max-content;
    }
    #services > .container:nth-child(odd) > div> div >h2 {
   
        margin-left: -10vw;
       
    }
}
@media only screen and (min-width: 720px){
    nav .brand-logo{
        right: 0;

    }
    nav {
        width: 10vw;
        height: 100vh;
    }

    .nav-wrapper > ul > li >a{
        border-left: 3px solid var(--third-color);
        margin: 1vh 0 1vh 2vh;
        color: transparent
    }
    
    
    h5{
        top: 30vh;
        margin: 0 30vw 0 20vw;
    }

    h2{
        writing-mode: vertical-rl;
        position: absolute;
        right: 0;
    }

    section{
        padding-left: 10vw;
    }
    #services {
        transform: translateY(20vh);
    }
    #about1, #services .container {
        max-width: 60vw!important ;
        margin-right: 25vw;
    }

    #about1, .container {
        transform: translateY(-10vh);
    }

 

}

