:root {
    --primary-color: #0b1521;
    --primary: #c6bc9b;
    --secondary-color:#EAEAE6;
    --third-color: #d5672c;
    --fth-color: #f3d577;
    --fif-color:#4d5f81;
}

#services{
    background-color: var(--secondary-color);
    color: var(--primary-color);

  
    
}
#services >.container{
    height: 100vh;
    justify-content: center;
    display: flex;
    width: 100vw;
    
}

#services > .container >.row {
  
    overflow: hidden;
    margin-bottom: 0;
}

#services .services_img {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    overflow: hidden;
    height: 40vh;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;


}
.services_img > img {
    width: 90vw;
    filter: sepia(70%);
 
    
    
}

.services_img:hover img{
    filter: sepia(0%);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}



.services_img:hover ~ div > h2{
    margin-left: 0!important;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

}

.services_img:hover ~ div > p{
    color: black;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.services_text {
    padding: 0 4vh;
    border-bottom: 1px solid var(--primary-color);
}
