
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail::before{
	border-bottom: 5px solid #dfac95;
}
#about1 .sp-thumbnail {
	width: 100%;
	padding: 8px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#about1 .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;

}


#about1 .sp-thumbnail-description {
	font-size: 14px;

}



@media (max-width: 640px) {
	#about1 .sp-layer {
		font-size: 12px;
	}

	
	.sp-image, .sp-mask, .sp-image-container {
		height: 50vh!important;
		width: auto;
	}

	

}

@media (max-width: 500px) {
	#about1 .sp-thumbnail {
		text-align: center;
	}

	#about1 .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	
}

